[submodule "computermusik-pd"]
	path = computermusik-pd
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/computermusik-pd.git
[submodule "Tonmeister"]
	path = Tonmeister
	url = https://AdrianArtacho@bitbucket.org/artachoscores/aufnahmeprufungtonmeister.git
[submodule "Ensemble/♫ Hymn"]
	path = Ensemble/♫ Hymn
	url = https://AdrianArtacho@bitbucket.org/artachoscores/hymntothealgorithm.git
[submodule "Ensemble/♫ ComeOutAndPlay"]
	path = Ensemble/♫ ComeOutAndPlay
	url = https://AdrianArtacho@bitbucket.org/artachoscores/comeoutandplay.git
[submodule "Ensemble/♫ UncommonNoises"]
	path = Ensemble/♫ UncommonNoises
	url = https://AdrianArtacho@bitbucket.org/artachoscores/uncommonnoises.git
[submodule "Ressources/MIDI-Drumset/Drumset-Layouts/🥁 COAP"]
	path = Ressources/MIDI-Drumset/Drumset-Layouts/🥁 COAP
	url = https://AdrianArtacho@bitbucket.org/artachoscores/coap.git
[submodule "Ressources/MIDI-Drumset/Drumset-Layouts/🥁 Hymn"]
	path = Ressources/MIDI-Drumset/Drumset-Layouts/🥁 Hymn
	url = https://AdrianArtacho@bitbucket.org/artachoscores/hymn.git
[submodule "Ressources/MIDI-Drumset/Drumset-Layouts/🥁 NOIS"]
	path = Ressources/MIDI-Drumset/Drumset-Layouts/🥁 NOIS
	url = https://AdrianArtacho@bitbucket.org/artachoscores/nois.git
[submodule "Ressources/Tonmeister-Studium"]
	path = Ressources/Tonmeister-Studium
	url = https://AdrianArtacho@bitbucket.org/artachoscores/aufnahmeprufungtonmeister.git
