[submodule "computermusik-pd"]
	path = computermusik-pd
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/computermusik-pd.git
[submodule "Tonmeister"]
	path = Tonmeister
	url = https://AdrianArtacho@bitbucket.org/artachoscores/aufnahmeprufungtonmeister.git
[submodule "Ensemble/♫ Hymn"]
	path = Ensemble/♫ Hymn
	url = https://AdrianArtacho@bitbucket.org/artachoscores/hymntothealgorithm.git
[submodule "Ensemble/♫ ComeOutAndPlay"]
	path = Ensemble/♫ ComeOutAndPlay
	url = https://AdrianArtacho@bitbucket.org/artachoscores/comeoutandplay.git
[submodule "Ensemble/♫ UncommonNoises"]
	path = Ensemble/♫ UncommonNoises
	url = https://AdrianArtacho@bitbucket.org/artachoscores/uncommonnoises.git
