[submodule "Ressources/🕹 StaffHero"]
	path = Ressources/🕹 StaffHero
url=https://github.com/AdrianArtacho/teach_staffhero
[submodule "Ressources/🕹GroovePizza"]
	path = Ressources/🕹GroovePizza
url=https://github.com/AdrianArtacho/teach_GroovePizza
[submodule "Ressources/🕹️CircleOfFifths"]
	path = Ressources/🕹️CircleOfFifths
	url = https://github.com/AdrianArtacho/teach_circle
[submodule "Ressources/🕹️SoundPuzzle"]
	path = Ressources/🕹️SoundPuzzle
	url = https://github.com/AdrianArtacho/teach_soundpuzzle
[submodule "Ressources/🕹VirtualDrumset"]
	path = Ressources/🕹VirtualDrumset
	url = https://github.com/AdrianArtacho/teach_drumset.git
[submodule "Ressources/🕹HearingTests"]
	path = Ressources/🕹HearingTests
	url = https://github.com/AdrianArtacho/teach_gehoertest.git
[submodule "Ressources/🕹Animata"]
	path = Ressources/🕹Animata
	url = https://github.com/AdrianArtacho/teach_animata.git
[submodule "readme-tools"]
	path = readme-tools
	url = https://github.com/AdrianArtacho/readme-tools.git
[submodule "Ressources/🕹Beatbox"]
	path = Ressources/🕹Beatbox
	url = https://github.com/AdrianArtacho/teach_beatbox.git
[submodule "Ressources/🕹️Memory"]
	path = Ressources/🕹️Memory
	url = https://github.com/AdrianArtacho/teach_memory.git
	branch = main
[submodule "Ressources/🕹Numeric"]
	path = Ressources/🕹Numeric
	url = https://github.com/AdrianArtacho/teach_numeric.git
[submodule "Ressources/🕹Interactive"]
	path = Ressources/🕹Interactive
	url = https://github.com/AdrianArtacho/teach_excerpts.git
[submodule "Coding/💻PureData"]
	path = Coding/💻PureData
	url = https://github.com/AdrianArtacho/teach_puredata.git
[submodule "Coding/💻UrlDistribute"]
	path = Coding/💻UrlDistribute
	url = https://github.com/AdrianArtacho/url_distribute.git
[submodule "Coding/💻DPI"]
	path = Coding/💻DPI
	url = https://github.com/AdrianArtacho/dpi_calculator.git
[submodule "Ressources/🕹Timekeeper"]
	path = Ressources/🕹Timekeeper
	url = https://github.com/AdrianArtacho/teach_timekeep.git
[submodule "Ressources/🕹diagonal"]
	path = Ressources/🕹diagonal
	url = https://github.com/AdrianArtacho/teach_diagonal.git
[submodule "UE/Einheiten"]
	path = UE/Einheiten
	url = https://github.com/AdrianArtacho/teach_ue.git
[submodule "Ressources/🕹DrumMachine"]
	path = Ressources/🕹DrumMachine
	url = https://github.com/AdrianArtacho/teach_drummachine.git
[submodule "Coding/💻KeyboardShortcuts"]
	path = Coding/💻KeyboardShortcuts
	url = https://github.com/AdrianArtacho/karabiner.git
